@model STGchannelMVC.Models.q_Customer_items_2_Jeeves

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>q_Customer_items_2_Jeeves</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.q_profit_center)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_profit_center)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_material_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_material_group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_isbn_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_isbn_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artbeskr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artbeskr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_itemtypecd1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_itemtypecd1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_artkat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_artkat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artlistpris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artlistpris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.momskod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.momskod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemstatuscode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemstatuscode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artstatnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artstatnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateStatusDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateStatusDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemtypecd2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemtypecd2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_wsoy_libraryclass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_wsoy_libraryclass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.varugruppkod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.varugruppkod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_fetched_by_inobiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_fetched_by_inobiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ar_q_edition_counter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ar_q_edition_counter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artkalkber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artkalkber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artkalkpris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artkalkpris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_publisher_itemid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_publisher_itemid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artvikt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artvikt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_publ_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_publ_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_artbeskr_kiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_artbeskr_kiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_planned_arrival_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_planned_arrival_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_pl_garr_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_pl_garr_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtBeskrSpec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtBeskrSpec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_edt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_edt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_aof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_aof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_au)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_au)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_eic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_eic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_ill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_ill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_ot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_ot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_pho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_pho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_pre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_pre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_rea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_rea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_tra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_tra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemtypecd3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemtypecd3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_print_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_print_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_original_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_original_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_series_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_series_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_series_partno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_series_partno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_total_no_part_series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_total_no_part_series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemtypecd4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemtypecd4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.webpublish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.webpublish)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
