<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MyStyle.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Scripts.js"></script>
    <script src="~/Scripts/notify.min.js"></script>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand navbar-header">STGchannel.fi</a>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Info </a>

                <div class="dropdown-menu">
                    @*<a class="dropdown-item" href="/NV/Info">Info</a>*@
                    <a class="dropdown-item" href="/Home/Contact">Yhteystiedot</a>
                    <a class="dropdown-item" href="https://www.kirjakeskus.fi/tietosuojaseloste/">Tietosuojaseloste</a>
                </div>
            </li>

            
            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {
                <li>@Html.ActionLink("Hallinta", "Index", "Admin", null, new { @class = "nav-link" })</li>
            }
        </ul>
        @Html.Partial("_LoginPartial")




    </nav>


    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="container-fluid text-center">
            <a href="https://www.kirjakeskus.fi/"> <img src="../Content/Images/pkirjakeskus_logo2018_nega_RGB.png" alt="Porvoon Kirjakeskus" style="width: 10%; height: 10%;"></a>
            <form class="form-inline">
            </form>
        </footer>
    </div>
    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

   
</body>
</html>
